@font-face{
	font-family: DS-DIGI;
    src: url(styles\font\DS-DIGI.TTF) format("truetype");
}
@font-face{
	font-family: bison;
	src: url(styles\font\Bison-Bold_PersonalUse_.ttf) format("truetype");
}
body{
    margin: unset;
	background: url(../images/fondo-muerte1.jpg) #474747;
	background-size: 100% 100%;
   }
   header{
	background-color: #242424;
	width: 100%;
	height: 3.5em;
	margin: unset;
	
}
table{
	margin-left: auto;
	margin-right: auto;
}

#prueba > td.titulo{
	font-family: bison;
	color: white;
	font-size: 1em;
}
#prueba > td.titulo > h1{
	margin-top: 0.2em;
}
#prueba > td.autor > h4{
	margin-top: 0.8em;
}
#prueba > td.autor{
	margin: unset;
	font-family: 'Courier New', Courier, monospace;
	color: #749159;
	padding: unset;
	font-size: 1.1em;
}
#prueba > td.descarga{
	margin: unset;
}
svg{
	margin-left: 50px;
	font-size: 40px;
	color: white;
	text-decoration: none;
}
svg:hover{
	box-shadow: 1px 1px 30px 1px rgba(245,245,245,0.57);
}
body>section{
    background-color: #000000cc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9.5em;
    margin-bottom: 9.5em;
    padding-top: 5px;
    padding-bottom: 10px;
   }
#muerte{
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: large;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
   }
.camino{
	width: 100%;
	text-align: center;
    }

body>section>div{
    text-align: center;
   }

.myButton {
	box-shadow:inset 0px 1px 3px 0px #000000;
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#00000005;
	border-radius:10px;
	border:2px solid #ff3425;
	display:inline-block;
	cursor:pointer;
	color:#ff3425;
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#94949450;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*PIE DE PAGINA*/
footer{
	margin-top: 0.5em;
	background-color: #242424;
	margin-bottom: 0%;
	padding-top: 0.2em;
	padding-bottom: 0.4em;
	height: auto;
}
#pie, #pie > a{
	color: white;
	font-size: 0.7em;
	text-align: center;
	margin-bottom: unset;
	
}
#pie > a{
	font-size: 1em;
}

/*MEDIA QUERYS*/
@media screen and (max-width:500px){
	#muerte{
		width: 100%;
	}
}
@media screen and (max-width:500px){
	body > section{
		margin-top: 5em;
		margin-bottom: 5em;
	}
}
@media screen and (max-width:388px){
	header{
		height: 6em;
	}
}