body{
	margin: unset;
	background: url(../images/fondo-dialogo.jpg) #474747;
	background-size: 100% 100%;
   }

header{
	background-color: #242424;
	width: 100%;
	height: 3.5em;
	margin: unset;
	
}
table{
	margin-left: auto;
	margin-right: auto;
}

#prueba > td.titulo{
	font-family: bison;
	color: white;
	font-size: 1em;
}
#prueba > td.titulo > h1{
	margin-top: 0.2em;
}
#prueba > td.autor > h4{
	margin-top: 0.8em;
}
#prueba > td.autor{
	margin: unset;
	font-family: 'Courier New', Courier, monospace;
	color: #749159;
	padding: unset;
	font-size: 1.1em;
}
#prueba > td.descarga{
	margin: unset;
}
svg{
	margin-left: 50px;
	font-size: 40px;
	color: white;
	text-decoration: none;
}
svg:hover{
	box-shadow: 1px 1px 30px 1px rgba(245,245,245,0.57);
}
body>section{
    background-color: #00000088;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-top: 5px;
    padding-bottom: 100px;
   }
p{
    font-family:'Courier New', Courier, monospace;
    color: #00ff4c;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
   }
.camino{
	width: 100%;
	text-align: center;
    }

body>section>div{
    text-align: center;
   }

.myButtonI {
	box-shadow:inset 0px 1px 3px 0px #000000;
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#00000005;
	border-radius:10px;
	border:2px solid #00ff4c;
	display:inline-block;
	cursor:pointer;
	color:#00ff4c;
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #000000;
	margin-right: 20px;
    }
.myButtonI:hover {
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#94949450;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButtonD {
	box-shadow:inset 0px 1px 3px 0px #000000;
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#00000005;
	border-radius:10px;
	border:2px solid #00ff4c;
	display:inline-block;
	cursor:pointer;
	color:#00ff4c;
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #000000;
	margin-left: 20px;
    }
.myButtonD:hover {
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#94949450;
}
.myButtonD:active {
	position:relative;
	top:1px;
}
/*PIE DE PAGINA*/
footer{
	margin-top: 0.5em;
	background-color: #242424;
	margin-bottom: 0%;
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.4em;
	bottom: auto;
}
#pie, #pie > a{
	color: white;
	font-size: 0.7em;
	height: auto;
	text-align: center;
	margin-bottom: unset;
	
}
#pie > a{
	font-size: 1em;
}
/*MEDIA QUERYS*/
@media screen and (max-width:710px){
	body > section{
		width: 100%;
	}
}
@media screen and (max-width:672px){
	.myButtonI{
		margin-right: unset;
	}
	.myButtonD{
		margin-left: unset;
	}
}
@media screen and (max-width:388px){
	header{
		height: 6em;
	}
}
