@font-face{
	font-family: DS-DIGI;
    src: url(styles\font\DS-DIGI.TTF) format("truetype");
}
@font-face{
	font-family: bison;
	src: url(styles\font\Bison-Bold_PersonalUse_.ttf) format("truetype");
}
body{
    background: url(../images/fondo-presentacion.jpg) #474747;
    margin: unset;
    background-size: 100% 100%;
  }

/*TITULOS*/  
.gliched{
  
}
#titulos{
    width: 35%;
    text-align: center;
    float: right;
    margin-right: 10%;
    margin-top: 15%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 6.5em;
    text-shadow:
        -4px -4px 0 #122b31,  
        4px -4px 0 #122b31,
        -4px 4px 0 #122b31,
        4px 4px 0 #122b31;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: #749159;
    font-size: 1.5em;
    text-shadow:
        -1px -1px 0 #122b31,  
        1px -1px 0 #122b31,
        -1px 1px 0 #122b31,
        1px 1px 0 #122b31;
    
}
/*EMPEZAR*/

#comienzo{
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 22%;
  margin-left: 2%;
}
.bi-bi-caret-right-square{
    font-size: 6em;
    color: #ffffff;
    margin-top: 0.2em;
}
.animate__flash{
    color: #ffffff;
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /*ANIMACION PARPADEO*/
    animation-delay: 2s;
    animation-duration: 10s !important;
    animation: infinite;
    
  }

/*MEDIA QUERYS*/

@media screen and (max-width:1165px){
  #titulos > h1{
    margin-bottom: 5%;
  }
 body{
    background: url(../images/fondo-presentacion1040.jpg) #071214;
  }
  #comienzo{
    margin-top: 28%;
  }
}

@media screen and (max-width:840px){
  body{
    background: url(../images/fondo-presentacion840px.jpg) #071214;
  }
  #comienzo{
    margin-top: 30%;
  }
  #titulos{
    margin-right: 2%;
  }
}

@media screen and (max-width:600px){
  #titulos, #comienzo{
    float: initial;
    margin-left: auto;
    margin-right: auto;
  }
  #titulos > h1{
    margin-top: 0.2em;
  }
  #titulos{
    width: auto;
  }
  #comienzo{
    margin-top: 5%;
    width: auto;
  }
}

@media screen and (max-width:550px){
    .camino{
      text-align: center;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
@media screen and (max-width:300px){
    #titulos > h1{
      font-size: 5em;
    }
    #titulos > h4{
      font-size: 1em;
    }
    #comienzo > p{
      font-size: 1em;
    }
  }
 @media screen and (max-width:550px){
    .camino{
      text-align: center;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
@media screen and (max-width:200px){
    #titulos > h1{
      font-size: 3.5em;
    }
    #titulos > h4{
      font-size: 0.8em;
    }
    #comienzo > p{
      font-size: 0.8em;
    }
}
/*ANIMACION GLITCH*/

.glitch-window{
	width: 100%;
	color: greenyellow;
	text-shadow: 2px 0 magenta, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
	background: red;
}

@keyframes crt-me {
	 0% {
        clip: rect(31px, 9999px, 94px, 0)
    }
    10% {
        clip: rect(112px, 9999px, 76px, 0)
    }
    20% {
        clip: rect(85px, 9999px, 77px, 0)
    }
    30% {
        clip: rect(27px, 9999px, 97px, 0)
    }
    40% {
        clip: rect(64px, 9999px, 98px, 0)
    }
    50% {
        clip: rect(61px, 9999px, 85px, 0)
    }
    60% {
        clip: rect(99px, 9999px, 114px, 0)
    }
    70% {
        clip: rect(34px, 9999px, 115px, 0)
    }
    80% {
        clip: rect(98px, 9999px, 129px, 0)
    }
    90% {
        clip: rect(43px, 9999px, 96px, 0)
    }
    100% {
        clip: rect(82px, 9999px, 64px, 0)
    }
    
}
