@font-face{
	font-family: DS-DIGI;
    src: url("DS-DIGI.TTF") format("truetype");
}
@font-face{
	font-family: bison;
	src: url("font/Bison-Bold\(PersonalUse\).ttf") format("truetype");
}
body{
	background: url(../images/fondo-pagina-inicio-6.jpg) #474747;
	margin: unset;
	background-size: 100% 100%;
}

/*ENCABEZADO*/
header{
	background-color: #242424;
	width: 100%;
	height: 3.5em;
	margin: unset;
	
}
table{
	margin-left: auto;
	margin-right: auto;
}

#prueba > td.titulo{
	font-family: bison;
	color: white;
	font-size: 1em;
}
#prueba > td.titulo > h1{
	margin-top: 0.2em;
}
#prueba > td.autor > h4{
	margin-top: 0.8em;
}
#prueba > td.autor{
	margin: unset;
	font-family: 'Courier New', Courier, monospace;
	color: #749159;
	padding: unset;
	font-size: 1.1em;
}
#prueba > td.descarga{
	margin: unset;
}
svg{
	margin-left: 50px;
	font-size: 2em;
	color: white;
	text-decoration: none;
}
svg:hover{
	box-shadow: 1px 1px 30px 1px rgba(245,245,245,0.57);
}

/*TEXTO*/
main{
 width: 100%;
 height: 100%;
}

body>main>section{
    background-color: #00000088;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10px;
}
p{
 font-family:'Courier New', Courier, monospace;
 color: #00ff4c;
 font-size: large;
}

/*BOTONES*/
body>main>section>div{
    text-align: center;
}
.myButton {
	box-shadow:inset 0px 1px 3px 0px #000000;
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#00000005;
	border-radius:10px;
	border:2px solid #00ff4c;
	display:inline-block;
	cursor:pointer;
	color:#00ff4c;
	font-family:'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #44444460 5%, #00000060 100%);
	background-color:#94949450;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*PIE DE PAGINA*/
footer{
	margin-top: 1em;
	background-color: #242424;
	margin-bottom: 0em;
	display: block;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	float: inline-end;
	bottom: auto;
}
#pie, #pie > a{
	color: white;
	font-size: 0.6em;
	height: auto;
	text-align: center;
	margin-bottom: unset;
	
}
#pie > a{
	font-size: 1em;
}
/*MEDIA QUERYS*/
@media screen and (max-width:950px) and (min-width:100px){
	body>main>section{
		width: auto;
	}
}
@media screen and (max-width:365px) and (min-width:100px){
	header{
		height: auto;
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	header{
		height: 4em;
	}
	#prueba > td.titulo{
		font-size: 2em;
	}
	#prueba > td.titulo > h1{
		margin-top: 0.5em;
	}
	#prueba > td.autor > h4{
		margin-top: 1em;
	}
	#prueba > td.autor{
		font-size: 2.5em;
	}
	svg{
		font-size: 2.5em;
	}
	body>main>section{
		width: auto;
	}
	p{
		color: #00ff4c;
		font-size: 1.8em;
	}
	.myButton{
		font-size: 1.8em;
	}
	
}
